.tilty {
  position: relative;
  padding-top: 5px;
  background: linear-gradient(to right, #0077b6, #90e0ef);
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: flex;
  justify-content: center;
  align-items: center;
}
